<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="/static/networkDiagram.css" />
    <script src="/static/networkDiagram.js"></script>
    <script src="/static/vendor/d3/d3.min.js"></script>
    <script src="/static/vendor/jquery-1.11.1.js"></script>
    <script src="/static/vendor/colorGenerator.js"></script>
    <script src="/static/vendor/underscore.js"></script>
    <meta charset="utf-8" />
    <title></title>
</head>
<body style="margin:30px auto;width:1000px">
    <h1>数据库作业三：可能感兴趣的博主推荐</h1>
    <form action="/" method="get">
        <label>请输入目标用户的ID（1~400）</label>
        <input type="text" name="startUser"/>
        <input type="submit" value="提交"/>
    </form>
    <table style="display:none">
        <tr>
            <td>Colorcode</td>
            <td>Node size</td>
            <td>Directed</td>
        </tr>
        <tr>
            <td>
                <select id="colorcode">
                    <option value="colored">Colored</option>
                    <option value="black-white">black-white</option>
                </select>
            </td>
            <td>
                <select id="nodeSize">
                    <option value="outgoing">Outgoing</option>
                    <option value="incoming">Incoming</option>
                </select>
            </td>
            <td>
                <select id="directed">
                    <option value="true">Directed</option>
                    <option value="false">Undirected</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Tooltip enabled?</td>
            <td>Sorting Tooltip</td>
            <td>SortingOrder Tooltip</td>
            <td>Tooltip Format</td>
        </tr>
        <tr>
            <td>
                <select id="tooltipSetting">
                    <option value="none">None</option>
                    <option value="movable">Movable</option>
                    <option value="static">Right Side</option>
                </select>
            </td>
            <td>
                <select id="sortingTooltip">
                    <option value="source">Alphabetically by source</option>
                    <option value="target">Alphabetically by target</option>
                    <option value="data">Value</option>
                </select>
            </td>
            <td>
                <select id="sortingOrderTooltip">
                    <option value="true">Ascending</option>
                    <option value="false">Descending</option>
                </select>
            </td>
            <td>
                <select id="tooltipOrientation">
                    <option value="horizontal">Horizontal</option>
                    <option value="vertical">Vertical</option>
                </select>
            </td>
        </tr>
    </table>

    <button onclick="getValues()" style="display: none">Draw NetworkDiagram</button>
    <p>算法描述：给用户推荐可能感兴趣的博主，首先根据用户共同关注的博主来计算用户相似度，将相似度较高的用户关注的博主推荐给目标用户。</p>

    <p>把鼠标悬停在目标用户节点上，半透明的是相似用户，颜色不变的是推荐的博主与原关注博主</p>

    <p>本次目标用户ID：{{ start_userID }}</p>
    <div id="c1" style="float: left; width:700px; height: 700px; border:solid; border-color:black;margin-bottom: 60px"></div>

        <script type="application/javascript">
        var data = [

            {% for list in relatedList %}
                {% for item in list %}
                        { source: "{{ item.start}}", target: "{{ item.end }}", value: 1},
                    {% endfor %}
            {% endfor %}
        ];
        </script>
    <script src="/static/network_module.js"></script>
</body>
</html>